<% if @product.can_be_compared? %>
  <%= link_to t(:add_to_comparison, :scope => :compare_products), add_to_comparison_path(@product), :class => 'compare', :remote => true %>
  <div class="sidebar-item" id="comparable_products_wrapper">
    <%= render 'shared/comparable_products' %>
  </div>
<% end %>
